# Twig Configuration
twig:
    exception_controller: "FOS\RestBundle\Controller\ExceptionController::showAction"
    globals:
        bap:
            layout: ::base.html.twig  # default layout across all Oro bundles

# Assetic Configuration (used by Oro)
assetic:
    debug:                    false
    use_controller:           false
    filters:
        cssrewrite: ~
        lessphp:
            file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
            apply_to: "\.less$"
            paths: ["%kernel.root_dir%/../web/bundles"]
        cssmin: ~

#
# Oro configuration requirements
#
fos_rest:
    body_listener:
        decoders:
            json: fos_rest.decoder.json
    view:
        failed_validation:    HTTP_BAD_REQUEST
        default_engine:       php
        formats:
            json:             true
            xml:              false
    format_listener:
        rules:
            - { path: '^/api/rest', priorities: [ json ], fallback_format: json, prefer_extension: false }
            - { path: '^/api/soap', stop: true }
            - { path: '^/', stop: true }
    routing_loader:
        default_format:       json

fos_js_routing:
    routes_to_expose:         [oro_*]

be_simple_soap:
    cache:
        type:                 disk
        lifetime:             86400
        limit:                5
    services:
        soap:
            namespace:        urn:OroPlatform
            binding:          rpc-literal
            resource:         .
            resource_type:    oro_soap

stof_doctrine_extensions:
    default_locale: en
    translation_fallback: true
    orm:
        default:
            translatable:     true
            tree:             true

escape_wsse_authentication:
    authentication_provider_class: Oro\Bundle\UserBundle\Security\WsseAuthProvider
    authentication_listener_class: Oro\Bundle\UserBundle\Security\WsseAuthListener

genemu_form:
    select2: ~
    autocomplete: ~

a2lix_translation_form:
    locales: [en]
    templating: "OroUIBundle:Form:translatable.html.twig"


# Overriden Oro default
knp_gaufrette:
    adapters:
        attachments:
            local:
                directory: %kernel.root_dir%/../var/attachments

#
# ORO Bundles config
#
oro_distribution:
    entry_point: ~

oro_require_js:
    build_path:               "js/oro.min.js"
    building_timeout:         3600
    build:
        preserveLicenseComments: true

oro_help:
    defaults:
        server: http://help.orocrm.com/
        prefix: Third_Party
    vendors:
        Oro:
            prefix: ~
            alias: Platform
    routes:
        oro_default:
            uri: Platform/OroDashboardBundle

oro_theme:
    active_theme: oro
